@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --background: rgb(255, 255, 255);
    --colorPrimary: rgb(31 41 55);
    --colorSecond: rgb(107 114 128);
}

.dark {
    --background: rgb(17, 24, 39);
    --colorPrimary: rgb(230, 230, 230);
    --colorSecond: rgb(215, 215, 215);
}